@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #3e2723;
  --text-active: #764c24;
  --main-padding: 60px;
  --paragraph-color: #333333b6;
  --main-font: "Edu AU VIC WA NT Pre", cursive;
  --secondary-font: "Berkshire Swash", cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
}

input {
  outline: none;
}

input::placeholder {
  color: #ccc;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  padding-inline: 15px;
  margin: 0 auto;
}

.special-text {
  /* font-family: var(--main-font); */
  font-family: var(--secondary-font);
  font-size: 30px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 5px;
}

@media (min-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}
