.heroSection {
  background-image: url(../images/landing.webp);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 60px;
  min-height: calc(100vh - 80px);
}

.heroSection .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  overflow: hidden;
}

.heroSection .container .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.heroSection .container .content img {
  max-width: 600px;
  transition: all 1s ease-in-out;
  opacity: 1;
  transform: scale(1);
}

.heroSection .container .content img.fade-out {
  opacity: 0;
}

.heroSection .container .content img.fade-in {
  opacity: 1;
  transform: scale(1);
}

.heroSection .container .content .text {
  max-width: 400px;
  opacity: 1;
  transition: all 1s ease-in-out;
  transform: translateX(0);
}

.heroSection .container .content .text.disappear {
  transform: translateX(50px);
  opacity: 0;
}

.heroSection .container .content .text.appear {
  transform: translateX(0);
  opacity: 1;
}

.heroSection .container .content .text span {
  color: brown;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.heroSection .container .content .text .text-slider {
  font-size: 60px;
  font-family: var(--secondary-font);
  font-weight: 700;
  margin: 10px 0 20px;
  color: var(--text-color);
}

.heroSection .container .content .text p {
  font-size: 22px;
  line-height: 1.7;
  color: var(--paragraph-color);
  font-weight: 500;
}

.heroSection .container .content .text .orderNow {
  width: 160px;
  margin-top: 40px;
  padding: 15px 0;
  background-color: transparent;
  border: 2px solid var(--text-active);
  font-size: 20px;
  border-radius: 9999px;
  color: var(--text-color);
  transition: all ease-in-out 0.3s;
}

.heroSection .container .content .text .orderNow:hover {
  background-color: var(--text-color);
  color: #fff;
  transform: scale(1.1);
}

.heroSection .container .navigation {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 500px;
  /* margin: 80px auto 0; */
}

.heroSection .container .navigation .item {
  color: var(--text-color);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.heroSection .container .navigation .item.active {
  border-bottom: 1px dashed var(--text-color);
  color: var(--text-active);
}

@media (max-width: 1023px) {
  .heroSection .container .content img {
    max-width: 400px;
  }

  .heroSection .container .content .text .text-slider {
    font-size: 40px;
  }
}

@media (max-width: 767px) {
  .heroSection .container .content {
    flex-direction: column-reverse;
  }

  .heroSection .container {
    gap: 40px;
  }
}

@media (max-width: 625px) {
  .heroSection .container .content img {
    max-width: 290px;
  }

  .heroSection .container .content .text .text-slider {
    font-size: 30px;
  }

  .heroSection .container .content .text p {
    font-size: 18px;
  }

  .heroSection .container .content .text .orderNow {
    width: 120px;
    padding: 10px 15px;
    font-size: 16px;
  }
}

@media (min-width: 767px) {
  .heroSection .container .content img.fade-out {
    transform: scale(1.1);
  }
}
